h1.title{
  background-color: #1565c0;
  color: #ffffff;
  box-shadow: 0 3px 6px -6px #000;
}

ul {
  display: flex;
  padding: 0;
  li{
    list-style: none;
    color: #7f7f7f;
    &:hover, &.active-city {
      cursor: pointer;
      border-bottom: 3px solid #fa4a22;
      color: #3a3a3a;
    }
  }
}

.city-container{
  background-image:  linear-gradient(#1565c0, #07a9c3);
}